.mainBlog {
  min-height: auto;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogItemh3 {
  cursor: pointer;
}
.blogItemh1 {
  text-transform: capitalize;
}

.blogPostItem {
  width: 50%;
}
